<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SFY_OCR.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SFY_OCR.Properties.Settings>
            <setting name="TesseractOcrDir" serializeAs="String">
                <value>D:\Tesseract-OCR</value>
            </setting>
            <setting name="OutputDir" serializeAs="String">
                <value>D:\TEMP</value>
            </setting>
        </SFY_OCR.Properties.Settings>
    </userSettings>
</configuration>